html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    overflow: hidden;
    background: transparent;
}

.screen{
    padding:1em 0;
    width:100%;
    height:100%;
    position:relative;
}

.wrapper{
    position:absolute;
}

.comment {
    width: 100%;
    padding: 0;
    position: relative;
}


.comment p {
    margin: 0;
    position:absolute;
    top:0;
    left:0;
    padding-left: 100vw;
    display: inline-block;
    white-space: nowrap;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes marquee {
    from {
        transform: translate(0%);
    }
    to {
        transform: translate(-100%);
    }
}