.comment {
    font-size: 60px;
    line-height: 1.1;
    font-family: 'BIZ UDPゴシック','Hiragino Kaku Gothic ProN','Hiragino Sans', Meiryo,sans-serif;
}

.text{
    color: white;
}

.lining{
    color: black;
    -webkit-text-stroke: 8px black;
}

.comment p {
    animation-duration: 8s;
}