<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comment Flipper</title>
  <link rel="alternate" hreflang="en" href="<%= rootUrl -%>">
  <link rel="alternate" hreflang="ja" href="<%= rootUrl -%>ja/">
  <link rel="alternate" hreflang="x-default" href="<%= rootUrl -%>">
  <meta name="og:title" content="Comment Flipper">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="og:description" content="Real-time comments fly across the screen for OBS Studio">
  <meta property="og:image" content="https://github.com/maruta/comflip/raw/master/public/ogpimg.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="home.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>

<body>
  <div class="container">
    <div class="col-lg-12 mx-auto p-3 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M11.24121,25.15353a7.03176,7.03176,0,0,1-3.61916-.927A6.69278,6.69278,0,0,1,5.133,21.71213a7.14479,7.14479,0,0,1-.90169-3.59332,7.39957,7.39957,0,0,1,.88928-3.65791,6.46993,6.46993,0,0,1,2.43792-2.502,6.941,6.941,0,0,1,3.55612-.90169,6.497,6.497,0,0,1,2.74278.5715,6.59491,6.59491,0,0,1,2.23485,1.7145.91592.91592,0,0,1,.25423.83813,1.32525,1.32525,0,0,1-.55858.76217.96645.96645,0,0,1-.7875.16432,1.53436,1.53436,0,0,1-.78749-.44387,4.08362,4.08362,0,0,0-3.09829-1.32075,4.34157,4.34157,0,0,0-2.286.59682A4.13828,4.13828,0,0,0,7.27946,15.6039a5.35,5.35,0,0,0-.5591,2.51491,5.08484,5.08484,0,0,0,.5715,2.43792,4.353,4.353,0,0,0,1.58739,1.68866,4.4238,4.4238,0,0,0,2.362.62214,5.12992,5.12992,0,0,0,1.56206-.215,3.72744,3.72744,0,0,0,1.23188-.67381,1.55008,1.55008,0,0,1,.83813-.36791.99985.99985,0,0,1,.76217.24079,1.22061,1.22061,0,0,1,.48262.80093.94436.94436,0,0,1-.30486.79989A6.45182,6.45182,0,0,1,11.24121,25.15353Z"/><path d="M19.36932,13.85116a1.225,1.225,0,0,1-.86448-.30487.99319.99319,0,0,1-.32968-.76165,1.052,1.052,0,0,1,.32968-.81282,1.225,1.225,0,0,1,.86448-.30487h6.27307a1.22451,1.22451,0,0,1,.864.30487,1.05558,1.05558,0,0,1,.32968.81282.99672.99672,0,0,1-.32968.76165,1.22451,1.22451,0,0,1-.864.30487ZM21.706,25.05225a1.25856,1.25856,0,0,1-1.24531-1.29492V11.235A6.61,6.61,0,0,1,21.1851,8.0602a5.23225,5.23225,0,0,1,2.01937-2.09533,5.87852,5.87852,0,0,1,2.997-.74925,1.34067,1.34067,0,0,1,.927.33019,1.079,1.079,0,0,1,.36791.83813,1.09025,1.09025,0,0,1-.36791.82573,1.30954,1.30954,0,0,1-.927.34259,3.11878,3.11878,0,0,0-1.65146.432,2.948,2.948,0,0,0-1.10477,1.19364,3.88105,3.88105,0,0,0-.39374,1.80338V23.75733a1.26619,1.26619,0,0,1-.35551.93941A1.33545,1.33545,0,0,1,21.706,25.05225Z"/><path d="M27.91367,2A2.08869,2.08869,0,0,1,30,4.08633V27.91367A2.08869,2.08869,0,0,1,27.91367,30H4.08633A2.08869,2.08869,0,0,1,2,27.91367V4.08633A2.08869,2.08869,0,0,1,4.08633,2H27.91367m0-2H4.08633A4.08633,4.08633,0,0,0,0,4.08633V27.91367A4.08633,4.08633,0,0,0,4.08633,32H27.91367A4.08633,4.08633,0,0,0,32,27.91367V4.08633A4.08633,4.08633,0,0,0,27.91367,0Z"/></svg>
          <span class="fs-4" style="padding-left:0.4em;" id="host">comflip</span>
        </a>
        <a class="fs-3 text-dark text-decoration-none" href="https://github.com/maruta/comflip"><i class="bi bi-github"></i></a>
      </header>
      <main>
        <h1 class="display-2 mb-4">Comment Flipper</h1>

        <p class="mb-5">
          Real-time comments fly across the screen for OBS Studio.
        </p>
        
        <hr class="col-3 col-md-2 mb-4">

        <h2 class="h3 mb-5"><i class="bi bi-signpost-fill"></i> Usage</h2>
        <h3 class="h4 mb-3">Enter the room name</h3>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text"><i class="bi bi-keyboard"></i></span>
          <input type="text" class="form-control" style="max-width: 100%;" name="room-name" id="room-name" size="35" value="Test Room">
        </div>        
        <ul>
          <li>Anyone can post/read comments as long as they know the room name</li>
          <li>To avoid accidental duplication, add a random string to the room name, such as &ldquo;<code>Test Room+Uhw2f3ij</code>.&rdquo;<br>
            The last part after <code>+</code> will not be displayed as the room name, but will be distinguished.</li>
        </ul>
        <div class="row g-5 mt-3">
          <div class="col-md-6">
            <h3 class="h4">You can comment on <i class="bi bi-arrow-down"></i></h3>
            <div id="wrap-emitter-iframe">
              <iframe id="emitter-iframe"></iframe>
            </div>
            <p><a id="emitter-link" target="_blank"><i class="bi bi-box-arrow-right"></i> <span id="emitter-url-text"></span></a></p>
            <ul>
              <li>Please send the URL <i class="bi bi-arrow-up"></i> to anyone who wants to comment.</li>
              <li>QR codes are also available<br>
                <canvas id="qrcode"></canvas>
              </li>
            </ul>
            
          </div>
          <div class="col-md-6">
            <h3 class="h4">The comments appear on the page <i class="bi bi-arrow-down"></i></h3>
            <div id="wrap-renderer-iframe">
              <iframe id="renderer-iframe"></iframe>
            </div>
            <p><a id="renderer-link" target="_blank"><i class="bi bi-box-arrow-right"></i> <span id="renderer-url-text"></span></a></p>
            <ul>
              <li>Import <i class="bi bi-arrow-up"></i> as Browser Source in OBS Studio</li>
              <li>The background is transparent, so there is no need to use chroma key or other settings.</li>
              <li>You can customize text color, size, speed, etc. with the Custom CSS option in Browser Source.
                See <a
                href="https://github.com/maruta/comflip/blob/master/public/renderer/style.css">style.css</a> for options that can be overridden.
              </li>
            </ul>
          </div>
        </div>
        <hr class="col-3 col-md-2 mb-4">
        <h2 class="h3 mb-3"><i class="bi bi-info-square"></i> Notes</h2>
        <ul>
          <li>This server is free to use. I will try to maintain it as much as possible, but please use it at your own risk.</li>
          <li>The source files for the server are available on <a href="https://github.com/maruta/comflip">GitHub</a>.<br>
            If you are concerned about reliability and availability, I recommend that you check the source yourself and run it on your own server.</li>
          <li>It can also be easily deployed to <a
            href="https://heroku.com/">Heroku</a> from <a href="https://github.com/maruta/comflip">GitHub</a>.</li>
        </ul>
        <footer class="pt-5 my-5 text-muted border-top">
          Created by Ichiro Maruta · © 2021
        </footer>
      </main>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/qrcode@latest/build/qrcode.min.js"></script>
  <script src="/home.js"></script>
</body>

</html>